<div class="border-2">
  <p class="mb-5" class="text-right text-black text-xl">04/04/2022 bởi Elite</p>
  <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
    TÁC HẠI NẾU BẠN BƠI LỘI KHÔNG ĐÚNG CÁCH
  </h1>
</div>

<div class="relative h-[600px] w-full flex justify-center p-5 bg-gray-200">
  <div class="absolute inset-0 flex items-center justify-center">
    <img
      class="image-overlap object-fill w-3/4 max-h-full rounded-lg shadow-lg"
      src="assets/Nutrition/nutri2.jpg"
      title="Yoga"
    />
  </div>
</div>

<div class="max-w-4xl mx-auto my-5 px-6">
  
  <br/>
    <ol class="numbered-list text-base">
    <li>
      Các bệnh lý cần chú ý khi bơi lội<br />
      <br/>
      Dù là hoạt động thể chất rất tốt nhưng nếu bạn tập không đúng cách nó sẽ
      gây ra những tác hại cho cơ thể của bạn. Dưới đây là những tác hại có thể
      xảy đến với bạn khi tập môn thể thao này.
      <br />
      <br />
      - Việc bơi lội vào sáng sớm cần chú ý đặc biệt là khi thời tiết lạnh và
      đối với những người cao tuổi. Thời tiết lạnh sẽ khiến nước bể cũng lạnh
      làm cho cơ thể không kịp thích nghi dễ dẫn đến tình trạng chuột rút khi
      bơi. Với người lớn tuổi thì bạn cần chú ý nên hạn chế đi bơi vào buổi sáng
      sớm bởi đây là thời điểm mà các cơ đột quỵ hay nhồi máu cơ tim thường xảy
      đến. Nếu các tình trạng đó xảy ra khi bơi khi người tập sẽ rất dễ chết
      đuối khi không có sự hỗ trợ kịp thời từ những người khác.
      <br />
      <br />
      - Nhóm bệnh nhân gặp các vấn đề về tai mũi họng cũng bị ảnh hưởng bởi nước
      hồ bơi. Quá trình bơi lội nước bơi có thể xâm nhập vào tai mũi họng của
      bạn, nếu nước hồ bơi bẩn bạn sẽ dễ gặp phải các bệnh viêm họng, viêm
      xoang.
      <br />
      <br />
      - Với những người hen suyễn cũng vậy, bơi lội thường khiến bạn phải hô hấp
      nhiều do phải lấy hơi và nhịn thở trong quá trình bơi. Trong khi những
      người mắc căn bệnh này thường lên cơn do lạnh. Nếu cách hít thở của bạn
      không đúng nó dễ làm người bệnh lên cơn và nguy cơ chết đuối cũng rất cao.
      <br />
      <br />
      - Nhóm người mắc bệnh động kinh cũng cần chú ý bởi cơ động kinh thường
      không có sự báo trước, nó có thể xảy đến bất cứ lúc nào khiến bệnh nhân
      lên cơn co giật và không kiểm soát được các hành động của mình. Việc lên
      cơn trong lúc bơi cực kỳ nguy hiểm kể cả khi có người đi cùng hỗ trợ bạn
      đưa lên bờ bởi người hỗ trợ sẽ gặp khó khăn để kéo bạn lên bờ.
    </li>
    <li>
        Cần chú ý điều gì khi bơi lội<br/><br/>
      - Không nên bơi khi cơ thể đang đói và cũng không nên bơi ngay say khi ăn
      xong. Do vận động dưới nước cần 1 lượng calo lớn, khi đói rất dễ mệt, dễ
      hạ đường huyết, rất nguy hiểm. Còn khi no sẽ khiến cơ thể mệt mỏi do lượng
      máu lớn phải đồn đến hệ tiêu hóa để tiêu thụ thức ăn, nên khi ở dưới nước
      sẽ làm quá trình tiêu hóa bị chậm lại dễ đau dạ dày.
      <br />
      <br />
      - Không bơi cường độ cao sau khi vận động quá sức với các hình thức vận
      động, tập luyện khác.
      <br />
      <br />
      - Nên khởi động thật kỹ toàn bộ cơ thể trước khi bơi vì khởi động trước
      khi bơi giúp kích hoạt hệ thống gân xương, chống sự sang chấn gân do hoạt
      động mạnh, đột ngột. Không khởi động trước khi bơi dễ bị bong gân, chuột
      rút, đau mỏi cơ sau khi bơi.
      <br />
      <br />
      - Không bơi khi ốm, mệt<br />

      - Không bơi khi say sỉn<br />

      - Nên dừng bơi đúng lúc để cơ thể ko bị nhiễm lạnh hay mệt mỏi sau khi
      bơi.<br />
      <p>Các dấu hiệu cảnh báo cơ thể đã sợ nước và muốn nghỉ ngơi : </p>
        + Mệt mỏi<br/>

        + Tim đập nhanh<br/>

        + Bụng đói cồn cào<br/>

        + Chuột rút<br/>

        + Da tái nhợt <br/>

        + Các đầu ngón tay, ngón chân nhăn nheo lại.<br/>
        <br/>
        <p>Thực hiện sai các kỹ thuật bơi sẽ ảnh hưởng trực tiếp đến sức khỏe người tập, cụ thể là ảnh hưởng đến xương khớp, đẩy nhanh quá trình lão hóa xương. Thở sai sẽ khiến người tập thực hiện các động tác mệt hơn, mất sức nhiều hơn, bơi chậm, ngắn, thậm chí là ko thể bơi được....</p>
        <br/>
        <p>Có rất nhiều người muốn học bơi nhanh để mau biết bơi nhưng sau đó sẽ phải trả giá bằng sự an toàn nước của chính mình và những năm tháng mệt nhọc vì bơi không đúng kỹ thuật rồi ảnh hưởng trực tiếp đến sức khỏe của mình!</p>
        <br/>
        <p>Mặc dù hiện nay là thời đại của sự tối giản, cái gì cũng có thể tối giản nhưng học bơi thì không thể tối gian được! Người học bơi cần có đức tính hàng đầu: "Khiên nhẫn và kiên trì". Nếu muốn có kỹ thuật bơi tốt kéo dài suốt đời thì không nên gấp gáp, rút ngắn lộ trình. Các kỹ thuật bơi cần được luyện tập lặp đi lặp lại và đó là điều cần thiết để có thể hoàn thiện kỹ thuật. </p>
        <br/>
        <p>Chính vì vậy, hãy tự bảo vệ bản thân bằng cách tham gia các khóa học bơi cơ bản, nâng cao tại Elite Fitness cùng với các Huấn luyện viên có kinh nghiệm giảng dạy nhiều năm, đã từng là VĐV thi đấu cấp tỉnh, cấp quốc gia đạt được nhiều thành tích cao. Đến với Elite Fitness, chúng tôi luôn sẵn sàng giúp bạn hoàn thành mục tiêu của bản thân mình.</p>
        <br/>
    </li>
  </ol>
  