<div class="border-2">
  <p class="mb-5" class="text-right text-black text-xl">05/04/2022 bởi Elite</p>
  <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
    CHƯƠNG TRÌNH YOGA 7 NGÀY DÀNH CHO BỆNH NHÂN COVID VÀ PHỤC HỒI SAU COVID
  </h1>
</div>

<div class="relative h-[600px] w-full flex justify-center p-5 bg-gray-200">
  <div class="absolute inset-0 flex items-center justify-center">
    <img
      class="image-overlap object-cover w-3/4 max-h-full rounded-lg shadow-lg"
      src="assets/Nutrition/nutrition1/Web yoga.jpg"
      title="Yoga"
    />
  </div>
</div>

<div class="max-w-4xl mx-auto my-5 px-6">
  <p class="mb-5">
    Trên toàn cầu, mọi người đang phải hứng chịu đại dịch Covid-19. Tập Yoga và
    điều chỉnh chế độ ăn uống là một trong những cách để ngăn ngừa và giảm thiểu
    virus Covid-19. Giờ đây, mọi người đã chấp nhận Yoga là một môn khoa học của
    cuộc sống và nó là một nghệ thuật sống lành mạnh của mỗi con người. WHO cũng
    đã công nhận rằng chỉ có luyện tập yoga mới làm cho con người có cuộc sống
    cân bằng về thể chất và tinh thần. Nhiều nghiên cứu cho rằng thông qua thiền
    định, một số tư thế và thực hành thanh lọc cũng giúp giảm căng thẳng và lo
    lắng của con người và tăng cường sức mạnh miễn dịch giúp chiến đấu với
    Covid-19.

    <br />
    <br />
    Do số ca mắc bệnh Covid-19 ở Việt Nam ngày càng gia tăng, người dân kẹt
    trong nhà, không xoay sở được thời gian hoạt động thể chất nên sức khỏe ngày
    một xuống dốc kèm theo mức độ căng thẳng và lo âu, là nguyên nhân chính dẫn
    đến stress và các vấn đề về bệnh lý như tăng huyết áp, tiểu đường, cường
    giáp, béo phì, rối loạn giấc ngủ. Trong tình huống này, Yoga và điều chỉnh
    chế độ ăn uống chỉ là hy vọng khắc phục thiết yếu cho những người mắc bệnh
    Covid.
    <br />
    <br />
    Có hai chương trình yoga 7-7 ngày đã được chuẩn bị sau đây.
  </p>

  <i class="block mt-6 mb-4 text-xl font-bold text-center">
    20 PHÚT CHƯƠNG TRÌNH YOGA DÀNH CHO BỆNH NHÂN DƯƠNG TÍNH VÀ CÁCH LY TẠI NHÀ
    </i>
  <p class="block mt-6 mb-4 text-xl">
    Chương trình yoga dưới đây được thiết kế dưới sự hướng dẫn của các chuyên
    gia Yoga, cùng với sự cố của Bộ AYUSH Chính phủ Ấn Độ. Những phương pháp này
    sẽ tiếp cận người bệnh một cách toàn diện nhất, trong đó bao gồm các bài
    thực hành yoga nhỏ, Sun Salutation, các tư thế thực hành thở và thiền định.
  </p>

  <ol class="numbered-list">
    <li>
        Niệm chú AUM ba lần
    </li>

    <li>
        Thực hành bài tập Yoga nhỏ: (5 phút)
        <p class="mb-5">
           - Mở rộng lồng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay trong các động tác bắt đầu và gập người: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay ở các động tác gập và duỗi: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay theo hướng xoay ngang và xoay giữa: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra trong khi vặn người: 5-10 lần lặp lại
        </p>
    </li>
    <li>
       Sun Salutation 1 Hiệp (3 phút)
    </li>
    <li>
        Tập thở: (8 phút)
        <p class="mb-5">
            - Kapalbhati kriya 2 hiệp (mỗi hiệp 30s) luyện tập chuẩn bị cho pranayama.<br/>
            - Bhastrika 2 hiệp (mỗi hiệp 30 gậy).<br/>
            - Anulom vilom 5 hiệp.<br/>
            - Bhramari pranayama 5 vòng.<br/>
        </p>
    </li>
    <li>Thiền: (2 phút) Niệm thần chú AUM 11 lần và Shanti 3 lần, sau đó im lặng một lúc và cảm thấy sức khỏe của mình ngày càng tốt hơn.</li>
    <li>Thay đổi chế độ ăn uống:<br/>        
        <p class="mb-5">
            - Uống 1 hoặc 2 ly nước ấm pha chanh vào sáng sớm khi bụng đói và thực hiện TTK.
            - Nên uống thức ăn dễ tiêu, có nhiều vitamin C và vitamin D, giúp tăng cường sức miễn dịch của cơ thể, duy trì hệ hô hấp và chuẩn bị cho cơ thể chống chọi với các vi khuẩn, virus khác.<br/>
            - Ăn trái cây tươi và rau quả gần đất, đặc biệt dưa hấu có nguyên tố chống oxy hóa glutathione cải thiện khả năng miễn dịch và hệ bài tiết.<br/>
            - Bao gồm bí đỏ, khoai lang, bông cải xanh, gừng, tỏi, lựu và chanh trong chế độ ăn uống, vì tất cả chúng đều hữu ích để cải thiện tiêu hóa và miễn dịch.
            - Uống sữa với nghệ tươi đun sôi vào buổi tối.<br/>        </p>
    </li>
</ol>
  <b class="block mt-6 mb-4 text-xl text-center"> 30 PHÚT CỦA CHƯƠNG TRÌNH YOGA DÀNH CHO BỆNH NHÂN ĐANG PHỤC HỒI HOẶC SAU NHIỄM COVID</b>
  <ol class="numbered-list">
    <li>
        Niệm chú AUM ba lần
    </li>

    <li>
        Thực hành bài tập Yoga nhỏ: (5 phút)
        <p class="mb-5">
           - Mở rộng lồng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay trong các động tác bắt đầu và gập người: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay ở các động tác gập và duỗi: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra đồng thời cử động cánh tay theo hướng xoay ngang và xoay giữa: 5-10 lần lặp lại
            <br/>
           - Mở rộng ngực khi hít vào và co lại khi thở ra trong khi vặn người: 5-10 lần lặp lại
        </p>
    </li>
    <li>
       Sun Salutation 1 Hiệp (3 phút)
    </li>
    <li>
        Tập thở: (8 phút)<br/>      
        <p class="mb-5">
            - Tư thế đứng: Tadasana, Triyaktadasana, Ardhchakrasana<br/>
            - Tư thế ngồi: Ardhushtrasana, Shashankasana, Uttanmandukasana, vakrasana<br/>
            - Tư thế nằm sấp: Bhujangasana, Dhanurasana Các<br/>
            - Tư thế ngồi: Setubandhasana, Pawanmuhaktasana, Matsyasana<br/>
         </p>
    </li>
    <li>Luyện tập thở<br/>
        <p class="mb-5">
            - Kapalbhati kriya (mỗi hiệp 30 stroke) luyện tập chuẩn bị cho pranayama.<br/>
            - Bhastrika 2 hiệp (mỗi hiệp 30 stroke)<br/>
            - Anulom vilom 5 hiệp.<br/>
            - Bhramari pranayama 5 hiệp.<br/></p>
    </li>
    <li>
        Thiền: (4 phút) Tụng niệm thần chú AUM 11 lần và Shanti 3 lần, sau đó ở yên hoàn toàn im lặng và cảm nhận cảm giác hạnh phúc.
    </li>
    <li>
        Điều chỉnh chế độ ăn uống:<br/>
        <p class="mb-5">
            - Uống 1 hoặc 2 ly nước ấm pha chanh vào sáng sớm khi đói và thực hiện TTK.<br/>
            - Nên uống thức ăn dễ tiêu, có nhiều vitamin C và vitamin D, giúp tăng cường sức miễn dịch của cơ thể, duy trì hệ hô hấp và chuẩn bị cho cơ thể chống chọi với các vi khuẩn, virus khác.<br/>
            - Ăn trái cây tươi và rau quả gần đất, đặc biệt dưa hấu có nguyên tố chống oxy hóa glutathione cải thiện khả năng miễn dịch và hệ bài tiết.<br/>
            - Bao gồm bí đỏ, khoai lang, bông cải xanh, gừng, tỏi, lựu và chanh trong chế độ ăn uống, vì tất cả chúng đều hữu ích để cải thiện tiêu hóa và miễn dịch.<br/>
            - Uống sữa với nghệ tươi đun sôi vào buổi tối.<br/></p>
    </li>
  </ol>
