/* .bg-register {
    background: url('http://127.0.0.1:9000/gym/assets/Sign-In-Up/bg_choose_me.png') no-repeat center center;
    background-size: cover;
  } */
  .bg-register {
    background: url('http://127.0.0.1:9000/gym/assets/Sign-In-Up/bg_choose_me.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }
  
  /* Ẩn background trên màn hình điện thoại (ví dụ: dưới 768px) */
  @media (max-width: 768px) {
    .bg-register {
      background: none;
    }
  }
  