<div class="border-2">
  <p class="mb-5" class="text-right text-black text-xl">04/12/2018 bởi Elite</p>
  <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
    10 NGUYÊN TẮC SỐNG "KHÔNG BỆNH TẬT" CỦA TS BS NGƯỜI NHẬT HIROMA SHINYA
  </h1>
</div>

<div class="relative h-[400px] w-full flex justify-center p-5 bg-gray-200">
  <div class="absolute inset-0 flex items-center justify-center">
    <img
      class="image-overlap object-fill w-3/4 max-h-full rounded-lg shadow-lg"
      src="assets/Nutrition/nutri8/Banner_bai_viet.jpg"
      title="Người có sức khoẻ tốt là người có dạ dày đẹp"
    />
  </div>
</div>

<div class="max-w-4xl mx-auto my-5 px-6">
  <br />
  <p class="mb-5 indent-8">
    Tiến sĩ Hiromi Shinya – tác giả của loạt sách "Nhân tố Enzyme" cho biết:
    "Một người có chức năng tiêu hóa kém thường có chế độ ăn và sống không lành
    mạnh. Trong suốt hàng thập kỷ thực hành và thực tiễn lâm sàng khám và chữa
    bệnh cho hàng trăm ngàn người với vai trò là một bác sĩ nội soi đường tiêu
    hóa, tôi đã học được rằng khi hệ thống đường tiêu hóa của một người sạch sẽ,
    cơ thể người đó có thể chống lại bất cứ loại bệnh tật nào".
  </p>
  <p class="mb-5 indent-8">
    TS Hiromi Shinya khẳng định, cho dù người đó có nguy cơ cao mắc bệnh do di
    truyền như bệnh tim, tiểu đường, ung thư ruột kết, ung thư tuyến tiền liệt,
    bệnh Crohn, viêm loét đại tràng hoặc bệnh thận… thói quen ăn uống và lối
    sống lành mạnh có thể đảo ngược nguy cơ các căn bệnh này. Nói tóm lại, con
    người có khỏe mạnh hay không phụ thuộc vào những gì họ ăn và thói quen sống
    hàng ngày.
  </p>
  <p class="mb-5 indent-8">
    Dựa vào các bảng câu hỏi và kết quả khảo sát dành cho các bệnh nhân, dưới
    đây là 10 đúc kết của TS Hiroma Shinya về những yếu tố ảnh hưởng đến sức
    khỏe.
  </p>

  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/1.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/2.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/3.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/4.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/5.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/6.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/7.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/8.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/9.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/10.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <div class="flex justify-center pb-1">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri8/11.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <hr class="border flex mx-auto justify-center w-3/4 mt-2" />
  <p class="mb-5 indent-8">Đem đến cuộc sống viên mãn, hạnh phúc cho cộng đồng chính là sứ mệnh hàng đầu của Elite Fitness. Để mỗi người có thể trở thành phiên bản hoàn hảo nhất của bản thân, Elite Fitness cũng giới thiệu hệ thống giải pháp 5 bước độc quyền: Living Elite - Sống ưu tú là cách sống mà mỗi người đều tìm thấy nguồn sức mạnh để sống khoẻ, sống tốt, cân bằng và kết nối mạnh mẽ hơn với cộng đồng.</p>

  <a class="mb-5 indent-8">
    <b>#Elitethink:</b
    ><span>
      Thực hành thiền định, sự tập trung và trau dồi sức khoẻ tinh thần.</span
    ><br />
    <b>#Eliteeat::</b><span> Ăn uống đúng cách để khỏe mạnh toàn diện.</span
    ><br />
    <b>#Elitemove:</b
    ><span> Tập luyện cho hệ tim mạch và thể chất lành mạnh.</span><br />
    <b>#Elitelearn:</b
    ><span> Thường xuyên học hỏi phương cách khoa học để sống khoẻ.</span><br />
    <b>#Repeat:</b
    ><span>
      Thực hành thường xuyên để tạo nên thói quen Sống ưu tú mỗi ngày.</span
    ><br />
  </a>
</div>
<hr class="border flex mx-auto justify-center w-3/4 mt-2" />
