<!-- Menu và Navigation -->
<div class="container mx-auto my-8 px-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div *ngFor="let news of pagedNewsList | paginate: { itemsPerPage: 6, currentPage: currentPage }" class="flex flex-col items-center">
      <div id="newsContainer" class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="[news.routerLink]">
            <img [src]="news.image" title="{{news.title}}" class="image-content" />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="[news.routerLink]" class="menu-item">
            {{ news.title }}
          </button>
        </b>
      </div>
    </div>
  </div>
</div>
