  <!-- Menu và Navigation -->
  <div class="container mx-auto my-8 px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div id="newsContainer"class="flex flex-col items-center">
      
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/Nhung-ly-do-ban-nen-tap-thu-les-mills-body-pump-ngay-hom-nay-01.jpg"
              title="Nhung-ly-do-ban-nen-tap-thu-les-mills-body-pump-ngay-hom-nay"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news1']" class="menu-item">
          Những lý do bạn nên tập thử Les Mills body pump ngay hôm nay.
        </button>
        </b>
      </div>

      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news2']">
            <img
              src="assets/News/ban-co-biet-les-mills-body-pump-giup-co-the-deo-dai-hon-01.jpg"
              title="ban-co-biet-les-mills-body-pump-giup-co-the-deo-dai-hon"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news2']" class="menu-item">
          Bạn có biết LES Mills body pump giúp cơ thể dẻo dai hơn.
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news3']">
            <img
              src="assets/News/ly-do-les-mills-body-attack-la-bai-tap-hoan-hao-de-phat-trien-co-bap-toan-dien-01.jpg"
              title="ly-do-les-mills-body-attack-la-bai-tap-hoan-hao-de-phat-trien-co-bap-toan-dien.jpg"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news3']" class="menu-item">
          Lý do Les Mills body attack là bài tập hoàn hảo để phát triển cơ bắp toàn diện.
        </button>
        </b>
      </div>

  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news4']">
            <img
              src="assets/News/nhung-tac-dong-tich-cuc-den-suc-khoe-khi-tap-les-mills-body-combat-01.jpg"
              title="nhung-tac-dong-tich-cuc-den-suc-khoe-khi-tap-les-mills-body-combat"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4']" class="menu-item">
          Những tác động tích cực đến sức khoẻ khi tập Les Mills body combat.
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/tai-sao-les-mills-body-attack-la-bo-mon-giup-cai-thien-suc-ben-tim-mach-01.jpg"
              title="tai-sao-les-mills-body-attack-la-bo-mon-giup-cai-thien-suc-ben-tim-mach"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">
            Tại sao Les Mills body attack là bộ môn giúp cải thiện sức bền tim mạch.
          </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/tap-les-mills-body-combat-co-the-dot-bao-nhieu-calo-moi-buoi-su-that-bat-ngo-01.jpg"
              title="tap-les-mills-body-combat-co-the-dot-bao-nhieu-calo-moi-buoi-su-that-bat-ngo"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">
          Tập Les Mills body combat có thể đốt bao nhiêu calo mỗi buổi, sự thật bất ngờ.
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/tap-les-mills-body-pump-co-giup-tang-co-khong-cach-toi-uu-hoa-ket-qua-01.jpg"
              title="tap-les-mills-body-pump-co-giup-tang-co-khong-cach-toi-uu-hoa-ket-qua"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">
          Tập Les Mills body pump có giúp tăng cơ không? Cách tối ưu hoá kết quả.
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/tap-les-mills-body-pump-co-loi-ich-gi-nhung-ly-do-ban-nen-bat-dau-ngay-hom-nay-01.jpg"
              title="tap-les-mills-body-pump-co-loi-ich-gi-nhung-ly-do-ban-nen-bat-dau-ngay-hom-nay"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">
          Tập Les Mills body pump có lợi ích gì? Những lý do bạn nên bắt đầu ngay hôm nay.
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/tap-les-mills-body-pump-o-dau-de-dat-hieu-qua-toi-uu-01.jpg"
              title="tap-les-mills-body-pump-o-dau-de-dat-hieu-qua-toi-uu"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">
          Tập Les Mills body pump ở đâu để đạt hiệu quả tối ưu?
        </button>
        </b>
      </div>
  
      <div id="newsContainer"class="flex flex-col items-center">
        <div class="image-container">
          <a [routerLink]="['/news/news1']">
            <img
              src="assets/News/AVA WEB_Mahadetox.jpg"
              title="AVA WEB_Mahadetox"
              class="image-content"
            />
          </a>
        </div>
        <b class="mt-4 text-justify text-gray-700">
          <button [routerLink]="['/news/news4\1']" class="menu-item">Demo</button>
        </b>
      </div>
  
    </div>
  </div>


  