<div class="border-2">
  <p class="mb-5" class="text-right text-black ">08/02/2025 bởi Elite</p>
  <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
    COUPLE YOGA – SỨC MẠNH CỦA SỰ ĐỒNG HÀNH
  </h1>
</div>

<div class="relative h-[600px] w-full flex justify-center p-5 bg-gray-200">
  <div class="absolute inset-0 flex items-center justify-center">
    <img
      class="image-overlap object-fill w-3/4 max-h-full rounded-lg shadow-lg"
      src="http://127.0.0.1:9000/gym/assets/Training/Trains1/banner.jpg"
      title="Couple Yoga"
    />
  </div>
</div>

<div class="max-w-4xl mx-auto my-10 px-6">
  <p class="mb-5">
    Trong cuộc sống hiện đại đầy bận rộn, tập luyện không chỉ là cách cải thiện
    sức khỏe mà còn là hành trình chăm sóc tâm hồn. Yoga từ lâu đã được biết đến
    như một phương pháp giúp con người tái tạo năng lượng, giảm căng thẳng và
    tìm lại sự cân bằng giữa thân - tâm. Nhưng bạn đã bao giờ nghĩ đến việc biến
    yoga thành một trải nghiệm gắn kết với người đồng hành?
    <br />
    Lớp Couple Yoga tại Elite Fitness mang đến điều đó – một không gian để hai
    bạn cùng nhau tập luyện, chia sẻ và kết nối. Đây không chỉ là bài tập rèn
    luyện sức khỏe mà còn là sợi dây kết nối giúp hai bạn có sự thấu hiểu, đồng
    hành trong cả nhịp sống và cảm xúc. Với Couple Yoga tại Elite Fitness, sức
    khỏe không chỉ được nâng cao mà còn là “gia vị” để tình bạn, tình yêu, tình
    thân trở nên gắn bó và bền chặt hơn.
    <br />
  </p>
  <img
    class="image-content rounded-lg shadow-lg"
    src="http://127.0.0.1:9000/gym/assets/Training/Trains1/banner.jpg"
    alt="Couple Yoga"
  />
  <b class="block indent-8 mt-6 mb-4  font-bold text-center">
    Couple Yoga là gì và tại sao lại quan trọng?
  </b>
  <p class="block indent-8 mt-6 mb-4 ">
    Couple Yoga là sự kết hợp giữa yoga truyền thống và tinh thần đồng đội. Điểm
    đặc biệt của lớp học này là yêu cầu cả hai người cùng phối hợp với nhau để
    hoàn thành các động tác. Từng bài tập không chỉ giúp cải thiện sự linh hoạt,
    dẻo dai mà còn đòi hỏi sự thấu hiểu, phối hợp nhịp nhàng giữa các cặp đôi.
    
  </p>
  <p class="block indent-8 mt-6 mb-4 ">Các động tác yêu cầu học viên phải quan sát, cảm nhận và hỗ trợ đối phương,
    từ đó tạo nên sự đồng điệu về cả thể chất lẫn tinh thần.</p>

  <b class="block indent-8 mt-6 mb-4  font-bold text-center">
    Điều gì làm Couple Yoga tại Elite Fitness trở nên đặc biệt?
  </b>
  <p class="block indent-8 mt-6 mb-4 ">
    Lớp Couple Yoga tại các CLB Elite Fitness Hà Nội được thiết kế trong một không gian yên tĩnh với ánh sáng dịu nhẹ, âm nhạc thư giãn và hương thơm tinh dầu dễ chịu. Đây là nơi mà bạn và người đồng hành có thể tạm gác lại mọi lo toan để tận hưởng những phút giây trọn vẹn bên nhau.
  </p>
  <p class="block indent-8 mt-6 mb-4 ">    Các bài tập tại Elite Fitness được thiết kế bởi đội ngũ huấn luyện viên giàu kinh nghiệm, chuyên môn cao dựa trên nhu cầu và khả năng của từng cặp đôi. Điều này đảm bảo mỗi buổi học không chỉ mang tính thử thách mà còn giúp cả hai tiến bộ rõ rệt sau mỗi lần tập luyện.
</p>
  <p class="block indent-8 mt-6 mb-4 ">    Không giống các bộ môn khác, Couple Yoga mang lại sự kết nối thân tâm một cách sâu sắc thông qua những chuyển động hài hòa của các bài tập. Những bài tập hít thở, thiền định và động tác Yoga đặc biệt giúp cả hai tìm lại sự bình yên trong tâm hồn, giảm căng thẳng và tăng cường sự thấu hiểu, tin tưởng lẫn nhau.
</p>
  <img
    class="image-content rounded-lg shadow-lg"
    src="http://127.0.0.1:9000/gym/assets/Training/Trains1/1.jpg"
    alt="Couple Yoga"
  />
  <b class="block indent-8 mt-6 mb-4  font-bold text-center">
    Hãy để Couple Yoga làm mới mối quan hệ của bạn
  </b>
  <p class="block indent-8 mt-6 mb-4 ">
    Ngày Valentine là dịp hoàn hảo để bạn làm mới tình yêu của mình. Thay vì những món quà truyền thống, hãy dành cho nhau những trải nghiệm đặc biệt cùng Couple Yoga tại Elite Fitness. Đây không chỉ là một món quà ý nghĩa mà còn là cách để bạn và người thương cùng nhau tạo dựng sức khỏe và sự gắn kết lâu dài.  </p>
    <hr class="w-full">
</div>
