<div class="border-2">
    <p class="mb-5" class="text-right text-black text-xl">16/07/2019 bởi Elite</p>
    <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
        TOP 10 THỰC PHẨM NGUY HIỂM MÀ HẦU NHƯ AI CŨNG ĂN
    </h1>
  </div>
  
  <div class="relative h-[600px] w-full flex justify-center  bg-gray-200">
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        class="image-overlap object-fill w-3/4 h-[600px] rounded-lg shadow-lg"
        src="assets/Nutrition/nutri5/1.jpg"
        title="TOP 10 THỰC PHẨM NGUY HIỂM MÀ HẦU NHƯ AI CŨNG ĂN"
      />
    </div>
  </div>
  
  <div class="max-w-4xl mx-auto my-5 px-6">
    <br/>
    <p class="mb-5">
      Có thể bạn chưa biết! Những loại thực phẩm có hại cho sức khoẻ xuất hiện phổ biến khắp nơi mà chúng ta không hay biết. Dưới đây là 10 loại thực phẩm “nổi bật” bạn nên hạn chế tối đa nếu như không muốn “rước bệnh” vào người.
    </p>
    <div class="flex justify-center ">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri5/2.png"
          title="Bơ thực vật Margarine"
          class="image-content"
        />
    </div>

    <div class="flex justify-center ">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri5/3.png"
          title="Thịt chế biến sẵn"
          class="image-content"
        />
    </div>

    <div class="flex justify-center ">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri5/4.png"
          title="Nước ngọt"
          class="image-content"
        />
    </div>
    <div class="flex justify-center ">
      <img
        class="w-full h-auto"
        src="assets/Nutrition/nutri5/5.png"
        title="Chất tạo ngọt nhân tạo"
        class="image-content"
      />
  </div>

  <div class="flex justify-center ">
      <img
        class="w-full h-auto"
        src="assets/Nutrition/nutri5/6.png"
        title="Đồ chiên rán"
        class="image-content"
      />
  </div>

  <div class="flex justify-center ">
      <img
        class="w-full h-auto"
        src="assets/Nutrition/nutri5/7.png"
        title="Bỏng ngô"
        class="image-content"
      />
  </div>
  <div class="flex justify-center ">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri5/8.png"
      title="Thực phẩm đóng hộp"
      class="image-content"
    />
</div>

<div class="flex justify-center ">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri5/9.png"
      title="Mì ăn liền"
      class="image-content"
    />
</div>

<div class="flex justify-center ">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri5/10.png"
      title="Bánh mì trắng"
      class="image-content"
    />
</div>
<div class="flex justify-center ">
  <img
    class="w-full h-auto"
    src="assets/Nutrition/nutri5/11.png"
    title="Các sản phẩm từ đậu lành"
    class="image-content"
  />
</div>