.image-overlap {
    position: absolute;
    top: 20px;   /* Đẩy hình ảnh lên trên */
    transition: transform 0.4s ease-in-out;
  }
  .image-overlap:hover{
    transform: scale(1.05);
  } 
  .video-container {
    display: flex;
    gap: 20px;
  }
  
  .main-video {
    flex: 3;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-video video {
    width: 100%;
    border-radius: 8px;
  }
  
  #videoTitle {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .video-list {
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
  }
  
  .video-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .video-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  .video-item.active {
    background-color: grey;
    border: 2px solid #007BFF; /* Tô sáng video đang phát */
  }