<div class="h-screen flex items-center justify-center">
  <form class="shadow-md rounded-md p-5 bg-white max-w-md min-w-[320px]" [formGroup]="form" (ngSubmit)="resetPassword()">
    <div class="py-4">
      <h1 class="font-bold py-2">Reset Password</h1>
      <h6 class="text-scale-600 text-base">Enter your new password below</h6>
    </div>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>New Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="New Password">
      <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password">
      <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>
        {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <!-- Hiển thị lỗi nếu mật khẩu không khớp -->
    <div *ngIf="form.hasError('mismatch')" class="text-red-500 text-sm">
      Passwords do not match
    </div>

    <button type="submit" [disabled]="!form.valid" class="w-full border border-slate-200 disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold rounded-md">
      Reset Password
    </button>

    <div class="my-5">
      <span class="text-slate-600">Back to </span>
      <a class="text-purple-700" [routerLink]="['/login']">Login</a>
    </div>
  </form>
</div>
