

<div class="relative">
  <img
  src="assets/About-us/about-us.jpg"
  class="w-full h-[66vh] object-cover"
  title="About-us"
  />
  <div class="absolute bottom-0 w-full flex flex-col items-center">
    <h1 class="font-bold text-white text-3xl mb-2">VỀ CHÚNG TÔI</h1>
    <img
    src="assets/About-us/border_banner_about.png"
    class="w-30"
    title="box"
    />
  </div>
</div>

<div class="text-container">
<!-- Menu và Navigation -->
<div class="w-full flex justify-center items-center my-4 border-b-4">
  <div
    class="flex gap-8 border border-gray-200 p-2 rounded-lg bg-white shadow-md"
  >
    <a
      href="http://localhost:4200/about-us"
      class="menu-item active text-gray-500"
    >
      <span class="menu-text">Về Elite Fitness</span>
      <div class="menu-line"></div>
    </a>
    <button
      class="menu-item text-gray-500"
      type="button"
      (click)="scrollToAnchor('achievement')"
    >
      <span class="menu-text">Thành tựu</span>
      <div class="menu-line"></div>
    </button>

    <button
      class="menu-item text-gray-500"
      type="button"
      (click)="scrollToAnchor('stories')"
    >
      <span class="menu-text">Câu chuyện hội viên</span>
      <div class="menu-line"></div>
    </button>
  </div>
</div>

<!-- Phần Câu Chuyện Thương Hiệu -->
<div class="container">
  <div class="underline-container">
    <h1 class="font-bold text-gray-500 text-4xl">CÂU CHUYỆN THƯƠNG HIỆU</h1>
    <div class="underline"></div>
  </div>
</div>

<!-- Nội dung -->
<div class="container mx-auto my-8 px-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex flex-col items-center">
      <div class="image-container">
        <img
          src="assets/About-us/elite-map.png"
          alt="Elite Fitness Map"
          class="image-content"
        />
      </div>
      <p class="mt-4 text-justify text-gray-700">
        Ra đời vào năm 2010, Elite Fitness đã phát triển từ câu lạc bộ đầu tiên
        tại <strong>Xuân Diệu</strong>, Hà Nội, trở thành hệ thống
        <strong>CLB thể thao 5 sao tiêu chuẩn quốc tế hàng đầu</strong>, do một
        công ty Việt Nam làm chủ – với
        <strong>14 câu lạc bộ trải dài trên toàn quốc</strong>.
      </p>
    </div>

    <div class="flex flex-col items-center">
      <div class="image-container">
        <img
          src="assets/About-us/elite-gym.png"
          alt="Elite Fitness Gym"
          class="image-content"
        />
      </div>
      <p class="mt-4 text-justify text-gray-700">
        Elite Fitness không chỉ đơn thuần là một doanh nghiệp kinh doanh về thể
        dục thể thao. Hơn thế nữa, đó là
        <strong>niềm đam mê, nhiệt huyết</strong> của những người sáng lập trong
        việc nâng cao nhận thức và mang tới sự hỗ trợ cho cộng đồng Việt Nam về
        sức khỏe và tập luyện. Chúng tôi tin rằng yếu tố cốt lõi để thành công
        trong một đất nước đang phát triển như Việt Nam, là để mỗi người đều
        <strong>tìm thấy nguồn sức mạnh</strong> trong cuộc sống của mình – để
        sống khỏe và mạnh mẽ hơn.
      </p>
    </div>
  </div>
</div>

<!-- Sứ mệnh -->
<div class="container">
  <div class="underline-container">
    <h1 class="font-bold text-gray-500 text-4xl">SỨ MỆNH</h1>
    <div class="underline"></div>
  </div>
  <p class="mx-auto my-5 px-6 text-justify text-gray-700 pl-6 ">
    Sứ mệnh của Elite là
    <strong>mang đến sự nhận thức đúng đắn cho cộng đồng</strong> trong việc rèn
    luyện thể chất để có được <strong>sức khỏe</strong> và
    <strong>tinh thần</strong> tuyệt vời, luôn vững vàng
    <strong>vượt qua mọi thử thách</strong> trong cuộc sống.
  </p>
</div>

<!-- Giá trị cốt lõi -->
<div class="container">
  <div class="underline-container">
    <h1 class="font-bold text-gray-500 text-4xl">GIÁ TRỊ CỐT LÕI</h1>
    <div class="underline"></div>
  </div>
  <div>
    <img
      class="w-screen object-cover"
      src="assets/About-us/giatricotloi.png"
      alt="Vision and mission"
    />
  </div>
</div>
<!-- Thành tựu-->
<div id="achievement" #achievement class="container">
  <div class="underline-container">
    <h1 class="font-bold text-gray-500 text-4xl">THÀNH TỰU</h1>
    <div class="underline"></div>
  </div>
  <!-- Nội dung -->
  <div class="container mx-auto my-8 px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col items-center">
        <div class="image-container">
          <img
            src="assets/About-us/thanhtuu1.jpg"
            alt="thanhtuu1"
            class="image-content"
          />
        </div>
        <p class="mt-4 text-justify text-gray-700">
          Elite Fitness vừa vinh dự đón nhận giải thưởng Top 100 sản phẩm, dịch
          vụ Tin Dùng Việt Nam 2020. Sự kiện nằm trong chương trình "Tin Dùng
          Việt Nam 2020" do Thời báo Kinh tế Việt Nam tổ chức và trao giải ngày
          12/12/2020. "Sản phẩm, dịch vụ Tin Dùng 2020" là một giải thưởng uy
          tín trong cộng đồng các doanh nghiệp Việt Nam, thu hút sự quan tâm của
          hàng nghìn doanh nghiệp thuộc nhiều lĩnh vực khác nhau trên toàn quốc.
          Các doanh nghiệp nhận giải là những doanh nghiệp có sản phẩm và dịch
          vụ xuất sắc được chính người tiêu dùng bình chọn. Để lọt vào Top 100
          sản phẩm, dịch vụ tin dùng Việt Nam 2020, Elite Fitness đã vượt qua
          những tiêu chí đánh giá chặt chẽ từ các chuyên gia kinh tế hàng đầu và
          được người tiêu dùng tin tưởng chọn lựa. Giải thưởng này là một tin
          vui ngay sau ngày kỷ niệm 10 năm ra đời thương hiệu Elite Fitness. Với
          Elite Fitness, đây chính là sự yêu mến của khách hàng nói riêng và
          cộng đồng nói chung, khẳng định vị thế của Elite Fitness trên thị
          trường. Với sứ mệnh nâng cao nhận thức, mang tới sự hỗ trợ cho cộng
          đồng Việt Nam về tập luyện, chúng tôi tin rằng yếu tố cốt lõi để thành
          công trong một đất nước đang phát triển như Việt Nam là mỗi người đều
          tìm thấy nguồn sức mạnh cả về vật chất và tinh thần, từ đó đạt được
          cuộc sống viên mãn.
        </p>
      </div>

      <div class="flex flex-col items-center">
        <div class="image-container">
          <img
            src="assets/About-us/thanhtuu2.jpg"
            alt="thanhtuu2"
            class="image-content"
          />
        </div>
        <p class="mt-4 text-justify text-gray-700">
          Chiều ngày 7/12, Tạp chí Kinh Tế Việt Nam – VnEconomy tổ chức Lễ Công
          bố & Vinh danh Top 100 Sản phẩm - Dịch vụ Tin Dùng Việt Nam 2022 được
          người tiêu dùng bình chọn trong năm 2022 Elite Fitness rất vinh dự và
          tự hào khi được đón nhận bằng khen và kỷ niệm chương của Top 10 sản
          phẩm, dịch vụ Tin Dùng Việt Nam 2022 thuộc nhóm ngành Làm đẹp, Thời
          trang. Để lọt vào Top 100 sản phẩm, dịch vụ tin dùng Việt Nam 2022,
          Elite Fitness đã vượt qua những tiêu chí đánh giá chặt chẽ từ các
          chuyên gia kinh tế hàng đầu và được người tiêu dùng tin tưởng bình
          chọn. Tập trung vào các sản phẩm – dịch vụ sáng tạo, đổi mới để tăng
          tốc phục hồi hậu đại dịch, mang đến được cho khách hàng những trải
          nghiệm tốt, được người tiêu dùng ưa chuộng và đánh giá cao. Với Elite
          Fitness, đây chính là sự yêu mến của khách hàng nói riêng và cộng đồng
          nói chung, khẳng định vị thế của Elite Fitness trên thị trường. Với sứ
          mệnh nâng cao nhận thức, mang tới sự hỗ trợ cho cộng đồng Việt Nam về
          tập luyện, Elite Fitness sẽ tiếp tục hoàn thiện mình để xứng đáng với
          sự tin tưởng ấy, lấy đó làm nguồn động lực để vững bước trong quá
          trình phát triển trong tương lai, giữ vững vị trí và phục vụ khách
          hàng tốt nhất!
        </p>
      </div>
    </div>
  </div>
</div>
<div id="stories" #stories class="mt-16 container">
  <div class="underline-container text-center mb-6">
    <h1 class="font-bold text-gray-500 text-4xl">CÂU CHUYỆN HỘI VIÊN</h1>
    <div class="underline mx-auto w-16 border-b-4 border-yellow-500 mt-2"></div>
  </div>

  <div class="container mx-auto px-6">
    <div [ngClass]="fadeState" class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-white rounded-lg shadow-lg p-6">
      <!-- Hình ảnh bên trái -->
      <div class="flex justify-center items-center">
        <img title="xyz" [src]="currentStory.image" [alt]="currentStory.alt" class="rounded-lg w-full object-cover max-w-md" />
      </div>

      <!-- Văn bản bên phải -->
      <div class="text-justify text-gray-700">
        <p class="text-xl font-bold">{{ currentStory.name }}</p>
        <p class="text-sm text-gray-500 mb-4">{{ currentStory.subtitle }}</p>

        <div class="sapo">
          <p *ngFor="let paragraph of currentStory.content" class="block text-lg" [innerHTML]="paragraph">
            {{ paragraph }}
          </p>
        </div>
      </div>
    </div>

    <!-- Nút Previous và Next -->
    <div class="mt-6 flex justify-center gap-4">
      <button (click)="previousStory()">
        <img src="assets/About-us/previous.png" alt="previous" class="w-12 h-12" />
      </button>
      <button (click)="nextStory()">
        <img src="assets/About-us/next.png" alt="next" class="w-12 h-12" />
      </button>
    </div>
  </div>
</div>

</div>

