<nz-layout class="full-height">
  <nz-sider nzWidth="220" nzTheme="dark">
    <div class="logo">Quản trị</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" (nzClick)="onMenuClick($event)">
      <li nz-menu-item nzKey="dashboard" [routerLink]="['/dashboard']">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item nzKey="branches" [routerLink]="['/branches']">
        <span nz-icon nzType="bank"></span>
        <span>Quản lý chi nhánh</span>
      </li>
      <li nz-menu-item nzKey="staff" [routerLink]="['/staff']">
        <span nz-icon nzType="team"></span>
        <span>Quản lý nhân viên</span>
      </li>
      <li nz-menu-item nzKey="customers" [routerLink]="['/customers']">
        <span nz-icon nzType="user"></span>
        <span>Quản lý khách hàng</span>
      </li>
      <li nz-menu-item nzKey="packages" [routerLink]="['/packages']">
        <span nz-icon nzType="gift"></span>
        <span>Quản lý gói thành viên</span>
      </li>
      <li nz-menu-item nzKey="rooms" [routerLink]="['/rooms']">
        <span nz-icon nzType="home"></span>
        <span>Quản lý phòng</span>
      </li>
      <li nz-menu-item nzKey="devices" [routerLink]="['/devices']">
        <span nz-icon nzType="tablet"></span>
        <span>Quản lý thiết bị</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header style="background: #fff; padding: 0 16px;">
      <!-- header content -->
    </nz-header>
    <nz-content style="margin: 16px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">
      ©2025 Your Company
    </nz-footer>
  </nz-layout>
</nz-layout>