<div class="border-2">
  <p class="mb-5" class="text-right text-black text-xl">05/07/2018 bởi Elite</p>
  <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
    5 ĐỒ UỐNG GIẢI NHIỆT MÙA HÈ KIỂU GYMER
  </h1>
</div>

<div class="relative h-[400px] w-full flex justify-center p-5 bg-gray-200">
  <div class="absolute inset-0 flex items-center justify-center">
    <img
      class="image-overlap object-fill w-3/4 max-h-full rounded-lg shadow-lg"
      src="assets/Nutrition/nutri10/banner_banner trong.jpg"
      alt=""
    />
  </div>
</div>

<div class="max-w-4xl mx-auto my-5 px-6">
  <br />
  <p class="mb-5 indent-8">
    Những người có lối sống lành mạnh sẽ có một những bí kíp cách giải nhiệt rất
    khác bằng cách chọn những đồ uống có lợi cho sức khoẻ theo phong cách
    #EliteEat, vừa “giải nhiệt” vừa “thanh lọc cơ thể” lại vừa “giảm cân”, hãy
    cùng xem những đồ uống đậm chất thiên nhiên này nhé:
  </p>
  <p class="mb-5 indent-8">
    Sống trong những ngày nắng nóng cao điểm tới 40*C của mùa hè, thời tiết
    ngoài trời như thiêu như đốt ai cũng thường trực một tâm lý “cần uống hơn
    cần ăn”. Những chai đồ uống ngọt tiện lợi đầy “ma lực” ở khắp mọi nơi luôn
    sẵn sàng mời gọi bạn bất cứ lúc nào, thế nhưng sau đó chúng ta sẽ phải đối
    mặt với vấn đề tăng cân.
  </p>
  <b>1. Nước chanh bạc hà</b>
  <p class="mb-5 indent-8">
    Hỗn hợp bạc hà, nước chanh, sẽ đem đến thức uống giúp thanh lọc cơ thể rất
    tốt, detox lá gan hiệu quả, đồng thời giúp toàn bộ cơ thể nhẹ nhàng, dễ chịu
    hơn trong mùa hè.
  </p>
  <div class="flex justify-center p-5">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri10/1.jpg"
      alt=""
      class="image-content"
    />
  </div>

  <b>2. Nước cam </b>
  <p class="mb-5 indent-8">
    Uống một ly nước cam sau khi luyện tập và ra nhiều mồ hôi là cách để giải
    khát và lấy lại thể lực nhanh chóng.
  </p>
  <div class="flex justify-center p-5">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri10/2.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <b>3. Nước ép dứa:</b>
  <p class="mb-5 indent-8">
    Mùa Hè, ở đâu cũng thấy dứa. Một ly nước ép dứa có tác dụng giảm cân hiệu
    quả, chứa nhiều vitamin và chất xơ với tác dụng tích cực cho hệ tiêu hóa và
    giúp cơ thể đốt năng lượng một cách hiệu quả khi tập luyện.
  </p>
  <div class="flex justify-center p-5">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri10/3.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <b>4. Sinh tố việt quất:</b>

  <p class="mb-5 indent-8">
    Việt quất là một trong những loại quả giàu dinh dưỡng nhất thế giới giàu
    chất chống oxy hóa, giúp giảm cân và làm đẹp da. Uống một ly sinh tố việt
    quất chua dịu, cả mùa hè oi bức như dừng lại sau cánh cửa phòng tập.
  </p>
  <div class="flex justify-center p-5">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri10/4.jpg"
      alt=""
      class="image-content"
    />
  </div>

  <b>5. SEASIDE STYLE</b>
  <p class="mb-5 indent-8">
    Loại sinh tố nhiệt đới đặc trưng đang “làm mưa làm gió” tại Elite Health Bar
    với sự kết hợp của xoài, chanh leo và sữa chua sẽ khiến mùa hè dễ chịu hơn
    bao giờ hết.
  </p>
  <p>Đừng quên ghé Elite Health Bar để thưởng thức SEASIDE STYLE ngay nhé!</p>
  <div class="flex justify-center p-5">
    <img
      class="w-full h-auto"
      src="assets/Nutrition/nutri10/5.jpg"
      alt=""
      class="image-content"
    />
  </div>
  <hr class="border w-full" />
  <p class="mb-5 indent-8">
    Đem đến cuộc sống viên mãn, hạnh phúc cho cộng đồng chính là sứ mệnh hàng
    đầu của Elite Fitness. Để mỗi người có thể trở thành phiên bản hoàn hảo nhất
    của bản thân, Elite Fitness cũng giới thiệu hệ thống giải pháp 5 bước độc
    quyền: Living Elite - Sống ưu tú là cách sống mà mỗi người đều tìm thấy
    nguồn sức mạnh để sống khoẻ, sống tốt, cân bằng và kết nối mạnh mẽ hơn với
    cộng đồng.
  </p>
  <br />
  <a class="mb-5 indent-8">
    <b>#Elitethink:</b
    ><span>
      Thực hành thiền định, sự tập trung và trau dồi sức khoẻ tinh thần.</span
    ><br />
    <b>#Eliteeat::</b><span> Ăn uống đúng cách để khỏe mạnh toàn diện.</span
    ><br />
    <b>#Elitemove:</b
    ><span> Tập luyện cho hệ tim mạch và thể chất lành mạnh.</span><br />
    <b>#Elitelearn:</b
    ><span> Thường xuyên học hỏi phương cách khoa học để sống khoẻ.</span><br />
    <b>#Repeat:</b
    ><span>
      Thực hành thường xuyên để tạo nên thói quen Sống ưu tú mỗi ngày.</span
    ><br />
  </a>
</div>
<hr class="border flex mx-auto justify-center w-3/4 mt-2" />
