  .custom-button {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .custom-button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: rgb(180, 145, 70);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }
  
  .custom-button:hover {
    color: rgb(180, 145, 70);
  }
  
  .custom-button:hover::after {
    width: 100%;
  }
  
  /* Khi đang ở trang hiện tại, giữ màu vàng hoặc màu nổi bật */
  .active-button {
    color: rgb(180, 145, 70) !important; /* Thay đổi màu chữ cho mục đang active */
  }
  
  .active-button::after {
    width: 100%; /* Hiển thị dòng kẻ dài khi active */
  }
