<nz-layout class="full-height ant-layout-has-sider">
  <nz-sider nzWidth="220px" nzTheme="dark">
    <div class="logo">Quản trị</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" (nzClick)="onMenuClick($event)">
      <li nz-menu-item nzKey="dashboard" [routerLink]="['/dashboard']">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item nzKey="branches" [routerLink]="['/branches']">
        <span nz-icon nzType="bank"></span>
        <span>Quản lý chi nhánh</span>
      </li>
      <li nz-menu-item nzKey="staff" [routerLink]="['/staff']">
        <span nz-icon nzType="team"></span>
        <span>Quản lý nhân viên</span>
      </li>
      <li nz-menu-item nzKey="member" [routerLink]="['/member']">
        <span nz-icon nzType="user"></span>
        <span>Quản lý khách hàng</span>
      </li>
      <li nz-menu-item nzKey="packages" [routerLink]="['/packages']">
        <span nz-icon nzType="gift"></span>
        <span>Quản lý gói thành viên</span>
      </li>
      <li nz-menu-item nzKey="rooms" [routerLink]="['/rooms']">
        <span nz-icon nzType="home"></span>
        <span>Quản lý phòng</span>
      </li>
      <li nz-menu-item nzKey="devices" [routerLink]="['/devices']">
        <span nz-icon nzType="tablet"></span>
        <span>Quản lý thiết bị</span>
      </li>
      <li nz-menu-item nzKey="salary" [routerLink]="['/salary']">
        <span nz-icon nzType="dollar"></span>
        <span>Lương</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="text-lg font-bold">Quản trị hệ thống</div>

      <!-- Avatar & Dropdown -->
      <ul nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click">
        <div style="display: flex; align-items: center; cursor: pointer">
          <nz-avatar nzSrc="assets/avt.jpg" nzSize="default"></nz-avatar>
          <span style="margin-left: 8px">{{ fullName }}</span>
        </div>
      </ul>
      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item disabled>
            <strong>{{ fullName }}</strong
            ><br />
            <small>{{ email }}</small>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="goToProfile()">Thông tin cá nhân</li>
          <li nz-menu-item (click)="logout()">Đăng xuất</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content class="right-content">
      <!-- chính là chỗ router-outlet hoặc table của bạn -->
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
