<div class="border-2">
    <p class="mb-5" class="text-right text-black text-xl">20/08/2020 bởi Elite</p>
    <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
        5 FUN FACTS VỀ BỆNH TIỂU ĐƯỜNG MÀ BẠN CHƯA TỪNG BIẾT
    </h1>
  </div>
  
  <div class="relative h-[600px] w-full flex justify-center p-5 bg-gray-200">
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        class="image-overlap object-fill w-3/4 h-[600px] rounded-lg shadow-lg"
        src="assets/Nutrition/nutri3/1.png"
        title="Yoga"
      />
    </div>
  </div>
  
  <div class="max-w-4xl mx-auto my-5 px-6">
    <br/>
    <p class="mb-5">
        Tiểu đường - căn bệnh mà một khi mắc, sẽ phải xác định chung sống cả đời.<br/>
        Là một bệnh mãn tính với biểu hiện lượng đường trong máu của bạn luôn cao hơn mức bình thường do cơ thể của bạn bị thiếu hụt hoặc đề kháng với insulin, dẫn đến rối loạn chuyển hóa đường trong máu.
        <br/>
        Phần lớn những người mắc bệnh tiểu đường có thể được ngăn ngừa bằng chế độ ăn uống lành mạnh, hoạt động thể lực thường xuyên và duy trì trọng lượng cơ thể bình thường.
        <br/>
        Trên định nghĩa là vậy, nhưng có một số "sự thật" thú vị mà có thể bạn chưa biết tới về bệnh tiểu đường, hãy cùng Elite khám phá những sự thật này qua những hình ảnh dưới đây nhé.   
    </p>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri3/2.png"
          title="Tiểu đường không phải do ăn đường"
          class="image-content"
        />
    </div>
    <p class="mb-5">
        Có rất nhiều nguyên nhân dẫn đến bệnh tiểu đường (bao gồm cả type 1 và type 2). Đặc biệt hơn cả, nguyên nhân chính dẫn đến việc thiếu hụt insulin ở người trẻ (type 1) là do di truyền từ cha mẹ. Đối với tiểu đường type 2, béo phì, thừa cân và tiền sử gia đình là những yếu tố chính gây nên bệnh. Một trong những cách làm giảm bớt triệu chứng bệnh là hãy thay đổi chế độ ăn lành mạnh, khoa học, cũng như bắt đầu tập luyện các bài tập đốt mỡ để duy trì cơ thể khoẻ mạnh.
    </p>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri3/3.png"
          title="NGƯỜI MẮC BỆNH TIỂU ĐƯỜNG CÓ THỂ ĂN ĐỒ NGỌT"
          class="image-content"
        />
    </div>
    <p class="mb-5">
        Nếu người mắc bệnh tiểu đường được lên kế hoạch dinh dưỡng đầy đủ và hợp lý thì việc sử dụng các thực phẩm ngọt và có đường là hoàn toàn có thể. Chẳng hạn như bạn bỏ bớt 1 miếng bánh mì hoặc ăn nửa chén cơm có thể giúp bạn thoả mãn cơn thèm bánh quy hay các thức ăn chứa đường khác đấy!
    </p>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri3/4.png"
          title="TIỂU ĐƯỜNG THAI KỲ KHÔNG KHIẾN EM BÉ BỊ TIỂU ĐƯỜNG"
          class="image-content"
        />
    </div>
    <p class="mb-5">
        Hoàn toàn không phải lỗi ở bạn hay lỗi của em bé nếu bạn được các bác sĩ chẩn đoán mắc tiểu đường thai kỳ. Và điều đó cũng không đồng nghĩa với việc em bé của bạn khi sinh ra cũng bị tiểu đường. Hãy cùng bác sĩ đưa ra kế hoạch dinh dưỡng hợp lý để kiểm soát lượng đường nạp vào trong thai kỳ nhé!
    </p>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri3/5.png"
          title="BỆNH TIỂU ĐƯỜNG KHIẾN NGƯỜI BỆNH NHẠY CẢM HƠN"
          class="image-content"
        />
    </div>
    <p class="mb-5">
        Nghe thì có vẻ khó hiểu nhưng thực ra đó chỉ là hiện tượng căng thẳng khi mắc bệnh, ví dụ như dễ tức giận, chán nản hoặc lo lắng về sức khoẻ hoặc khi bạn phải uống thuốc mỗi ngày và không thể kiểm soát được mức đường huyết trong cơ thể. Hãy luôn nhớ rằng, giữ vững tinh thần lạc quan và vui vẻ sẽ luôn là liều thuốc tốt nhất. Đừng quên giải toả những cảm xúc ấy qua việc vận động thể chất hàng ngày bạn nhé.
    </p>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="assets/Nutrition/nutri3/6.png"
          title="CẦN THỜI GIAN ĐIỀU CHỈNH CHẾ ĐỘ ĂN & TẬP LUYỆN KHI MẮC TIỂU ĐƯỜNG"
          class="image-content"
        />
    </div>
    <p>
        Khi nhận được chẩn đoán mắc bệnh, bất kể là tiểu đường hay một căn bệnh nào khác, đừng quá lo lắng hay căng thẳng, hãy dành thời gian nhiều hơn để điều chỉnh lại những thói quen chưa tốt trong cuộc sống. Điều chỉnh chế độ ăn uống hợp lý, bắt đầu hoặc tiếp tục với những bài tập thể dục để duy trì sức khoẻ hàng ngày là một trong những cách giúp bạn kiểm soát được căn bệnh này.
        <br/><br/>
        Đặc biệt, Elite có thiết kế giáo án riêng để phù hợp với những người mắc bệnh tiểu đường. Bạn có thể liên hệ với HLV cá nhân tại CLB Elite bất kỳ để được tư vấn!
    </p>
  </div>