<div class=" bg-color w-full text-white" >

    <div class="container">
      <div class="flex justify-between p-6">
        <!-- Thông tin công ty -->
        <div class="col-12 col-md-4">
          <p class="font-bold">CÔNG TY CỔ PHẦN LIFESTYLE VIỆT NAM</p>
          <p>Mã số thuế: 0104972793</p>
          <p>
            Địa điểm: Số 51, phố Xuân Diệu, Phường Quảng An, Quận Tây Hồ, Thành
            phố Hà Nội, Việt Nam
          </p>
          <p><a href="tel:19009091">Hotline: 19009091</a></p>
          <p>
            <a href="mailto:info&#64;elitefitness.com.vn"
              >Email: info&#64;elitefitness.com.vn</a
            >
          </p>
        </div>

        <!-- Điều khoản & Bảo mật -->
        <div class="col-12 col-md-2">
          <p><a href="#">Điều khoản & điều kiện</a></p>
          <p>
            <a href="https://elitefitness.com.vn/home/quydinhbaomat?"
              >Quy định bảo mật</a
            >
          </p>
        </div>

        <!-- Liên kết khác -->
        <div class="col-12 col-md-2">
          <p><a href="https://elitefitness.com.vn/news/viewall?">Tin tức</a></p>
          <p><a href="https://elitefitness.com.vn/club?">Tìm CLB gần bạn</a></p>
          <p><a href="https://elitefitness.com.vn/club?">Lịch tập</a></p>
          <p><a href="https://elitefitness.com.vn/pt?">HLV cá nhân</a></p>
        </div>

        <!-- Follow Us -->
        <div class="col-12 col-md-2">
          <h5 class="font-bold">FOLLOW US</h5>
          <div class="flex gap-4 my-4">
            <a href="https://www.facebook.com/elitefitnessvn">
              <img
                src="assets/About-us/facebook.png"
                alt="Facebook"
                class="social-icon"
              />
            </a>
            <a href="https://www.instagram.com/elitefitnessvn/">
              <img
                src="assets/About-us/instagram.png"
                alt="Instagram"
                class="social-icon"
              />
            </a>
            <a
              href="https://www.youtube.com/channel/UClNefAwYJ05NRDEHSIRb4Qw/featured"
            >
              <img
                src="assets/About-us/youtube.png"
                alt="YouTube"
                class="social-icon"
              />
            </a>
          </div>
          <a href="http://online.gov.vn/Home/WebDetails/34685">
            <img
              src="assets/About-us/bct.png"
              alt="Government Certified Website"
            />
          </a>
        </div>
      </div>
    </div>
</div>
