<div class="border-2">
    <p class="mb-5" class="text-right text-black text-xl">26/07/2019 bởi Elite</p>
    <h1 class="text-black w-3/4 mx-auto font-bold text-3xl text-center">
        GIẢI MÃ LÝ DO TẠI SAO BẠN LUÔN THẤY ĐÓI DÙ ĐÃ ĂN RẤT NHIỀU
    </h1>
  </div>
  
  <div class="relative h-[600px] w-full flex justify-center p-5 bg-gray-200">
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        class="image-overlap object-fill w-3/4 h-[600px] rounded-lg shadow-lg"
        src="http://127.0.0.1:9000/gym/assets/Nutrition/nutri4/1.jpg"
        title="Giải mã"
      />
    </div>
  </div>
  
  <div class="max-w-4xl mx-auto my-5 px-6">
    <br/>
    <p class="mb-5">
        Chứng "luôn đói" ngày càng trở nên phổ biến dù bạn đang làm công việc chân tay hay ngồi bàn giấy, đã bao giờ bạn tự hỏi bản thân liệu mình có siêu năng lực chuyển hóa thức ăn? Elite Fitness sẽ giúp bạn giải đáp thắc mắc này  
    </p>
    <b class="text-xl">Không uống đủ nước</b>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="http://127.0.0.1:9000/gym/assets/Nutrition/nutri4/2.jpg"
          title="Không uống đủ nước"
          class="image-content"
        />
    </div>
    <b class="text-xl">Không ăn đủ chất xơ</b>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="http://127.0.0.1:9000/gym/assets/Nutrition/nutri4/3.jpg"
          title="Không ăn đủ chất sơ"
          class="image-content"
        />
    </div>
    <b class="text-xl">Bạn đã bỏ qua bữa sáng</b>
    <div class="flex justify-center p-5">
        <img
          class="w-full h-auto"
          src="http://127.0.0.1:9000/gym/assets/Nutrition/nutri4/4.jpg"
          title="Bạn đã bỏ qua bữa sáng"
          class="image-content"
        />
    </div>